/* STYLE.CSS */

/*basic reset*/

* {
    padding:0px;
    margin:0px;
}

/* == BASE == */

h1 {
    font-family: Montserrat, sans-serif;
}

button {
    padding: 10px;
}

fieldset {
    padding: 10px;
    border: 1px rgba(200,200,200,1) dotted;
    border-radius: 5px;
}

/* == CLASS == */
.fullWidth {
    width: 300px;
}

.inputBox {
    padding: 5px;
}

/* == ID == */
#title {

}

#resultDiv {
    text-transform:capitalize;
}

#rpi_image {
    width: 100%;
}

